<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">



    <link rel="icon" href="Favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>Spring Boot || User Output</title>
</head>
<body>
    
<nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

        </ul>

    </div>
    </div>
</nav>

<main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Output</div>
                        <div class="card-body">
                            
                                <div class="form-group row">
                                    <label for="full_name" class="col-md-4 col-form-label text-md-right">First Name</label>
                                    <div class="col-md-6">
                                       <span class="form-control" th:text="${user.firstName}"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="email_address" class="col-md-4 col-form-label text-md-right">Last Name</label>
                                    <div class="col-md-6">
                                        <span class="form-control" th:text="${user.lastName}"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="user_name" class="col-md-4 col-form-label text-md-right">Password</label>
                                    <div class="col-md-6">
                                        <span class="form-control" th:text="${user.password}"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="phone_number" class="col-md-4 col-form-label text-md-right">Gender</label>
                                    <div class="col-md-6">
                                        <span class="form-control" th:text="${user.gender}"></span>
                                    </div>
                                </div>
  
                                <div class="form-group row">
                                    <label for="present_address" class="col-md-4 col-form-label text-md-right">Email</label>
                                    <div class="col-md-6">
                                        <span class="form-control" th:text="${user.email}"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="permanent_address" class="col-md-4 col-form-label text-md-right">Phone</label>
                                    <div class="col-md-6">
                                       <span class="form-control" th:text="${user.phone}"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="nid_number" class="col-md-4 col-form-label text-md-right"><abbr
                                                title="National Id Card"></abbr> Role</label>
                                    <div class="col-md-6">
                                        <span class="form-control" th:text="${user.role}"></span>
                                    </div>
                                </div>    

                                    <div class="col-md-6 offset-md-4">
                                      
                                    </div>
                                </div>                          
                        </div>
                        <table class="table table-striped table-dark">
                                  <thead>
                                    <tr>
                                     <th scope="col"></th>
                                      <th scope="col">Firs Name</th>
                                      <th scope="col">Last Name</th>
                                      <th scope="col">Gender</th>
                                      <th scope="col">Email</th>
                                      <th scope="col">Phone</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr th:each="user, countRow : ${list}">
                                    	
    								<span th:if="${user.firstName == 'Shane'}">	 
										  <td th:text="${countRow.count}"></td>                    			  
								   		  <td th:text="Manual"></td>
								          <td th:text="Manual"></td>
								          <td th:text="Manual"></td>
								          <td th:text="Manual"></td>
								          <td th:text="Manual"></td>
                               		</span>
	
    								<span th:unless="${user.firstName == 'Shane'}">
                               			  <td th:text="${countRow.count}"></td>                  			  
								   		  <td th:text="${user.firstName}"></td>
								          <td th:text="${user.lastName}"></td>
								          <td th:text="${user.gender}"></td>
								          <td th:text="${user.email}"></td>
								          <td th:text="${user.phone}"></td>
                               		</span>
                               		       		
									 </tr>
                                  </tbody>
                    </table>
                    </div>
            </div>
        </div>
    </div>

</main>							  

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
